
/* Estilo base para la barra de progreso */
.progress-bar {
    width: 100%;
    height: 25px;
}

/* Estilo para la barra de progreso en estado "amarillo" */
.progress-bar[style*="#FFFF00"] {
    background-color: #FFFF00; /* Amarillo */
}

/* Estilo para la barra de progreso en estado "naranja" */
.progress-bar[style*="#FFA500"] {
    background-color: #FFA500; /* Naranja */
}

/* Estilo para la barra de progreso en estado "rojo" */
.progress-bar[style*="#FF0000"] {
    background-color: #FF0000; /* Rojo */
}

