<!-- 
    El presente proyecto data de un modelo para alertar sobre la 
    proximidad por fechas implementado de proyectos que necesiten 
    de distintas formas de alertar o visualizar la progreción del tiempo

    Todos los derechos reservados.
    Copyright © 2023 Deivid Edwuar Bautista Ocampo - Jhonatan David Florez Useche
-->
<!DOCTYPE html>
<html>

<head>
    <title>Lista de Procesos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Style.css') }}">
</head>

<body>
    <h1>Lista de Procesos</h1>
    <table>
        <thead>
            <tr>
                <th>Proceso</th>
                <th>Fecha Inicio</th>
                <th>Fecha Límite</th>
                <th>Progreso</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% for proceso in procesos %}
            <tr>
                <td>{{ proceso.nombre }}</td>
                <td>{{ proceso.fecha_inicio }}</td>
                <td>{{ proceso.fecha_limite }}</td>
                <td>
                    <progress
                        value="{% if proceso.fecha_limite > hoy %}{{ ((hoy - proceso.fecha_inicio).days / (proceso.fecha_limite - proceso.fecha_inicio).days) * 100 }}{% else %}100{% endif %}"
                        max="100"></progress>
                </td>
            </tr>
            {% endfor %} -->

            {% for proceso in procesos %}
            <tr>
                <td>{{ proceso.nombre }}</td>
                <td>{{ proceso.fecha_inicio }}</td>
                <td>{{ proceso.fecha_limite }}</td>
                <td>{{ proceso.diferencia_dias }}</td>
                <td>{{ proceso.progreso }}</td>
                <td>
                    <progress
                        value="{{proceso.progreso}}"
                        min="10" max="100"
                        class="{% if proceso.progreso <= 30 %}progress-low{% elif proceso.progreso <= 70 %}progress-medium{% else %}progress-high{% endif %}"></progress>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>