/*
  El presente proyecto data de un modelo para alertar sobre la 
  proximidad por fechas implementado de proyectos que necesiten 
  de distintas formas de alertar o visualizar la progreción del tiempo

  Todos los derechos reservados.
  Copyright © 2023 Deivid Edwuar Bautista Ocampo - Jhonatan David Florez Useche 
*/
.vencido {
  background-color: #FF0000; /* Fondo rojo para procesos vencidos */
  color: #FFFFFF; /* Texto blanco para procesos vencidos */
}

.proxima {
  background-color: #FFFF00; /* Fondo amarillo para procesos próximos a vencer */
}
