.vencido {
  background-color: #FF0000; /* Fondo rojo para procesos vencidos */
  color: #FFFFFF; /* Texto blanco para procesos vencidos */
}

.proxima {
  background-color: #FFFF00; /* Fondo amarillo para procesos próximos a vencer */
}
