progress[value] {
    appearance: none;
}

progress[value]::-webkit-progress-bar{
    overflow: hidden;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(247, 249, 252);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value{
    border-radius: 15px;
}

/* Estilo para progreso menor o igual al 30% */
.progress-low::-webkit-progress-value {
    background-color: #ACFADF;
}

/* Estilo para progreso entre 31% y 70% */
.progress-medium::-webkit-progress-value {
    background-color: #94ADD7;
}

/* Estilo para progreso mayor al 70% */
.progress-high::-webkit-progress-value {
    background-color: #7C73C0;
}


